*{
	margin:0px;
	padding:0px;
}

body{
	background:url("back.jpg");
	background-size:cover;
	background-attachment:fixed;
	background-position:center;
}

body input[type="Button"]{
	margin-top:100px;
	height:80px;
	border-radius:40px;
	width:50%;
	position:center;
	cursor:pointer;
	background:red;
	color:while;
	font-size:20px;
}

body input[type="Button"]:hover
{
	color:white;
background-color:green;
}

.menu ul{
	color:white;
	margin-left:10px;
	font-size:50px;
	font-weight:400;
	font-style:bold;
	list-style-type:none;
}

.menu ul li{
	color:black;
	display:inline-block;
	margin-top:0px;
	padding:20px;
	text-decoration:none;
	font-size:30px;
	margin-left:5px;
	padding-bottom:30px;
}

.menu ul li a{
	text-decoration:none;
	color:grey;
} 
header{
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	background:black;
	height:70px;
	opacity:1;
	border-bottom:3px solid red;
}

.redbox{
	background-color:red;
	padding:20px 10px 17px 10px;
}


.blackbox:hover
{
	background-color:yellow;
	color:black;
	padding:20px 10px 17px 10px;
}